<div class="data">
 



</div>

<div class="row m-0 justify-content-center">
    <h2 class="text-center  pt-5">Detalle Carne</h2>
    <div class="text-center p-5" *ngIf="carne">
        <div class="imagen col-12" *ngIf="carne.imagen">
            <img src="{{url+'get-imagen/'+carne.imagen}}" *ngIf="carne.imagen" class="img-fluid rounded-3">
        </div>
        <div class="mt-2">
            <p><b>Tipo de Carne:</b> {{carne.tipocarne}}</p>
            <p><b>Subtipo de Carne:</b> {{carne.subTipocarne}}</p>
            <p><b>Precio:</b> {{carne.precio}}</p>
            <p><b>Corte:</b> {{carne.corte}}</p>
        </div>

        <p *ngIf="confirm==false">
            <a [routerLink]="['/editar-carne', carne._id]" class="button-edit btn btn-success me-2 mt-2">Editar</a>
            <a (click)="setConfirm(true)" class="button-delete btn btn-danger mt-2">Borrar</a>
        </p>
        <p *ngIf="confirm==true">
            <span class="confirm">Estas seguro de eliminar este elemento?</span><br>
            <a (click)="setConfirm(false)" class="button-edit btn btn-success pe-2 mt-2">Cancelar</a>
            <a (click)="borrarCarne(carne._id)" class="button-delete btn btn-danger mt-2">Eliminar definitivamente</a>
        </p>
    </div>

</div>